@media print {

	body {
		margin: 0;
		color: #000;
		background-color: #fff;
	}

	.dontprint {
		visibility: hidden;
	}
	.footer, .header {
		visibility:visible !important;
	}
	
  table { page-break-after:auto;
  page-break-before: always; }
  tr    { page-break-inside:avoid; page-break-after:auto }
  td    { page-break-inside:avoid; page-break-after:auto }
  thead { display:table-header-group }
  tfoot { display:table-footer-group }
  div   { page-break-inside:avoid; }
}

/*@page { size: auto;margin: 0mm 0mm 0mm 0mm;}*/
body {
	font-size: 0.80rem;
	font-family: 'Open Sans', sans-serif;
	
}
.header img {
	width:100%;
	height:auto;
}
.footer img {
	width:100%;
	height:auto;
}
.footer {
	position:fixed;
	bottom:0px;
	visibility:hidden;
}
.header {
	position: fixed;
    top: 0px;
	visibility:hidden;
}
.letter-content {
	margin: 10rem 3rem 6rem 3rem;
}
.letter-content.active {
	margin: 3rem 3rem 3rem 3rem;
}
.refno {
	text-transform: uppercase;
}

.ref-date {
	display: flex;
	justify-content: space-between;
}

.bg-color {
	background-color: yellow;
}

.subject {
	text-decoration: underline;
	font-weight: bold;
	margin: 2rem 0rem;
}

.sub {
	font-weight: bold;
}

.company-name {
	margin: 2rem 0rem;
}

.date-sign {
	flex-direction: row;
	justify-content: center;
	display: grid;
}

.t-align {
	text-align: center !important;
}

#print-btn {
	/*position: fixed;
    bottom: 20px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 100px;*/
}

.column-left {
	float: left;
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.column-right {
	float: left;
	width: 70%;

}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.ml {
	margin-left: 3rem;
}

.column {
	float: left;
	width: 20%;
}

.align-flex {
	display: flex;
	justify-content: space-between;
	margin-top: 2rem;
}

.d-flex {
	display: flex;
}

td,
th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

table {
	border-collapse: collapse;
	width: 100%;
	height:80%;
}

#m-line {
	margin-top: 2rem !important;
}

#space {
	margin-left: 20px;
}

.date-name {
	display: flex;
	align-items: center;
	width: 25%;
	justify-content: space-between;
	font-weight: bold;

}

.salary-amount {
	font-size: 1rem;
	font-weight: bold;
}

.salary-detail td,
.salary-detail th {
	border: 0px;
	text-align: left;
	padding: 8px;
}

#co-name {
	font-size: 1.6rem;
	margin: 0rem 0.5rem;
}

.co-del-font-color {
	color: #0000fe;
	text-align: center;
	align-items: center;
}

.top-section {
	display: flex;
	justify-content: center;
}

.line {
	background-color: #0000fe !important;
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn {
    font-size: 14px;
}
.btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
	text-decoration:none;
	text-align:center;
}

.text-center {
	text-align:center;
	margin-bottom:3rem;
}